<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/quizz_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/quizz_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizzApp"
        tools:targetApi="31">
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TingkatanActivity"
            android:exported="false" />
        <activity
            android:name=".activities.KategoriActivity"
            android:exported="false" />
        <activity
            android:name=".activities.KelasActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PendidikanActivity"
            android:exported="false" />
        <activity
            android:name=".activities.KuisActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TambahPendidikanActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TambahKelasActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TambahKategoriActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TambahTingkatanActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TambahKuisActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditKelasActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditKategoriActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditPendidikanActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HasilKuisActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.JawabSoalActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".activities.EditKuisActivity"
            android:exported="false" />
        <activity
            android:name=".activities.KelolaSoalActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TambahSoalActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditSoalActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PilihKuisActivity"
            android:exported="false" />
        <activity
            android:name=".activities.JawabSoalMainActivity"
            android:exported="false" />
    </application>

</manifest>